*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(img/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}
img{
    position: absolute;
}
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fbfbfb url('//cdnjs.cloudflare.com/ajax/libs/file-uploader/3.7.0/processing.gif') no-repeat center center;
}
  
.visible {
visibility: visible;
opacity: 1;
transition: opacity 2s linear;
}

.hidden {
visibility: hidden;
opacity: 0;
transition: visibility 0s 2s, opacity 2s linear;
}
#sun{
    position: absolute;
    left:47%;
}
svg{
    fill:red;
    width: 100px;
    height: auto;
}
.water{
    width: 100%;
    height:auto;
    top:68%;
    z-index: 100;
}
.boat{
    width: 200px;
    height: auto;
    left: 10%;
    top:55%;
    transform: scale(-1, 1);
    transition-duration: 3s;
    transition-property: left;
    transition-timing-function: ease-out;
}
.boat:hover{
    left: 70%;
}
.kraken{
    width: 100px;
    height: auto;
    left: 80%;
    top:63%;
    transition-property: top;
    transition-duration: 0.5s;
    transition-delay: 2s;
}
.boat:hover + .kraken{
    top:60%;
}
.plane{
    width: 200px;
    height: auto;
    top: 20px;
}
.dragon{
    width: 100px;
    height: auto;
    top: 200px;
    left: 50%;
    /* animation: rotate 2s both infinite;    */
    animation-name: rotate;
    animation-duration:1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode:backwards;
}
@keyframes rotate {
    0% {
      transform: rotateY(0);
    }
    25% {
      transform: rotateY(90deg);
    }
    50% {
      transform: rotateY(180deg);
    }
    75% {
        transform: rotateY(270deg);
      }
    75% {
    transform: rotateY(0deg);
    }
}
.stop{
    animation-play-state: paused;
}
